<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="avto.repository.AdvertisementRepository">
    <resultMap type="avto.model.Advertisement" id="advMap">
        <result typeHandler="avto.config.mybatis.handler.UUIDTypeHandler" column="id" property="id"/>
        <result property="type" column="type"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="price" column="price"/>
        <result property="startDate" column="start_date"/>
        <result property="isActive" column="is_active"/>
        <result property="city" column="city"/>
        <result property="sellerId" typeHandler="avto.config.mybatis.handler.UUIDTypeHandler" column="seller_id"/>
        <association property="params" resultMap="avtoParamsMap"/>
    </resultMap>

    <resultMap type="avto.model.AvtoParams" id="avtoParamsMap">
        <result typeHandler="avto.config.mybatis.handler.UUIDTypeHandler" column="params_id" property="id"/>
        <result property="year" column="year"/>
        <result property="distance" column="distance"/>
        <result property="power" column="power"/>
        <result property="engineVolume" column="engine_volume"/>
        <result property="transmission" column="transmission"/>
        <result property="engineType" column="engine_type"/>
        <association column="mark_id" javaType="avto.model.Mark" property="mark">
            <result typeHandler="avto.config.mybatis.handler.UUIDTypeHandler" column="mark_id"
                    property="id"/>
            <result column="mark_name" property="name"/>
        </association>
        <association column="model_id" javaType="avto.model.Model" property="model">
            <result typeHandler="avto.config.mybatis.handler.UUIDTypeHandler" column="model_id"
                    property="id"/>
            <result column="model_name" property="name"/>
        </association>
    </resultMap>

    <select id="getAllAdvertisement" resultMap="advMap">
        SELECT  adv.*,
        ap.id as params_id, ap.year, ap.distance, ap.power,ap.engine_volume,ap.transmission,ap.engine_type,
        amrk.id as mark_id, amrk.name as mark_name,
        amdl.id as model_id, amdl.name as model_name
        FROM advertisement adv
        INNER  JOIN avto_params ap ON adv.params_id =ap.id
        INNER  JOIN avto_marks amrk ON  ap.mark_id=amrk.id
        INNER  JOIN avto_models amdl ON  ap.model_id = amdl.id;
    </select>

    <select id="getAdvertisementByUserId" resultMap="advMap">
        SELECT  adv.*,
        ap.id as params_id, ap.year, ap.distance, ap.power,ap.engine_volume,ap.transmission,ap.engine_type,
        amrk.id as mark_id, amrk.name as mark_name,
        amdl.id as model_id, amdl.name as model_name;
        FROM advertisement adv
        INNER  JOIN avto_params ap ON adv.params_id =ap.id
        INNER  JOIN avto_marks amrk ON  ap.mark_id=amrk.id
        INNER  JOIN avto_models amdl ON  ap.model_id = amdl.id
        WHERE adv.seller_id=#{id};
    </select>

    <select id="findByFilter" resultMap="advMap" parameterType="arraylist">
        SELECT  adv.*,
        ap.id as params_id, ap.year, ap.distance, ap.power,ap.engine_volume,ap.transmission,ap.engine_type,
        amrk.id as mark_id, amrk.name as mark_name,
        amdl.id as model_id, amdl.name as model_name;
        FROM advertisement adv
        INNER  JOIN avto_params ap ON adv.params_id =ap.id
        INNER  JOIN avto_marks amrk ON  ap.mark_id=amrk.id
        INNER  JOIN avto_models amdl ON  ap.model_id = amdl.id

        <if test="minYearValue!=null and maxYearValue!=null">
        and ap.year between #minYearValue} and #{maxYearValue})
    </if>

        <if test="minYearValue!=null and maxYearValue==null">and  ap.year>=#{minYearValue}
        </if>

        <if test="minYearValue==null and maxYearValue!=null">and not (ap.year > #{maxYearValue})
        </if>

        <if test="minDistanceValue!=null and maxDistanceValue!=null">
            and ap.distance between #minDistanceValue} and #{maxDistanceValue})
        </if>

        <if test="minDistanceValue!=null and maxDistanceValue==null">and  ap.distance>=#{minDistanceValue}
        </if>

        <if test="minDistanceValue==null and maxDistanceValue!=null">and not (ap.distance > #{maxDistanceValue})
        </if>

        <if test="minPowerValue!=null and maxPowerValue!=null">
            and ap.power between #{minPowerValue} and #{maxPowerValue})
        </if>

        <if test="minPowerValue!=null and maxPowerValue==null">and  ap.power>=#{minPowerValue}
        </if>

        <if test="minPowerValue==null and maxPowerValue!=null">and not (ap.power > #{maxPowerValue})
        </if>


        <if test="minVolumeValue!=null and maxVolumeValue!=null">
            and ap.engine_volume between #{minVolumeValue} and #{maxVolumeValue})
        </if>

        <if test="minVolumeValue!=null and maxVolumeValue==null">and  ap.engine_volume>=#{minVolumeValue}
        </if>

        <if test="minVolumeValue==null and maxVolumeValue!=null">and not (ap.engine_volume > #{maxVolumeValue})
        </if>
        ;
    </select>


    <insert id="createAdvertisement">
        INSERT INTO avto_params VALUES (#{adv.avtoParams.id},#{adv.avtoParams.mark.id},#{adv.avtoParams.model.id},
           #{adv.avtoParams.year},#{adv.avtoParams.distance},#{adv.avtoParams.power},#{adv.avtoParams.engineVolume}),
           #{adv.avtoParams.transmission}),#{adv.avtoParams.engineType});
        INSERT INTO advertisement VALUES (#{adv.id},#{adv.type},#{adv.title},#{adv.description},#{adv.longitude},
           #{adv.latitude},#{adv.price},#{adv.start_date},#{adv.isActive},#{adv.city},#{adv.sellerId},
           #{adv.avtoParams.id});
    </insert>
   <!--  <if test="marks!=null">
    and ap.mark_id IN
    <foreach close=")" separator="," open="(" collection="marks" index="index" item="item">
        #{item, javaType=java.util.UUID,jdbcType=OTHER,
        typeHandler=ru.altarix.hrms.config.mybatis.handler.UUIDTypeHandler }
    </foreach>
</if>

    <if test="models!=null">
        and e.grade_id IN
        <foreach close=")" separator="," open="(" collection="models" index="index" item="item">
            #{item, javaType=java.util.UUID,jdbcType=OTHER,
             typeHandler=ru.altarix.hrms.config.mybatis.handler.UUIDTypeHandler }
        </foreach>
    </if>-->

</mapper>

