<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="avto.repository.AutoParamsRepository">
    <resultMap type="avto.model.AvtoParams" id="avtoParamsMap">
        <result typeHandler="ru.altarix.hrms.config.mybatis.handler.UUIDTypeHandler" column="id" property="id"/>
        <result property="year" column="year"/>
        <result property="distance" column="distance"/>
        <result property="engineVolume" column="engine_volume"/>
        <result property="power" column="power"/>
        <result property="transmission" column="transmission"/>
        <result property="engineType" column="engine_type"/>
        <association column="mark_id" property="mark" javaType="avto.model.Mark">
            <result property="id" column="mark_id" typeHandler="ru.altarix.hrms.config.mybatis.handler.UUIDTypeHandler"/>
            <result property="name" column="mark_name"/>
        </association>
        <association column="model_id" property="model" javaType="avto.model.Model">
            <result property="id" column="model_id" typeHandler="ru.altarix.hrms.config.mybatis.handler.UUIDTypeHandler"/>
            <result property="name" column="model_name"/>
        </association>
    </resultMap>

    <select id="getAvtoParamsById" resultMap="avtoParamsMap"> SELECT * FROM avto_params p where p.id=#{id} ; </select>

</mapper>